<%= render 'shared/path', :forum => @forum %>
<nav class="new_topic round"><%= link_to "new topic", new_forum_topic_path(@forum) %> </nav>
<% if @forum.forums.any? %>
	<%= render 'forum', :forum => @forum %>
<% end %>
<% if @forum.topics.any? %>
	<%= render 'topic', :forum => @forum %>
<% end %>