<table class="post">
		<% unless post.title.blank? %>
		<tr>
			<th colspan="2" class="title" ><%= post.title %> </th>
		</tr>
		<% end %>
		<tr>
			<td class="user_content">Auteur + avatar</td>
			<td><%=raw  (post.content.bb_to_html) %> </td>
		</tr>
		<tr>
			<td colspan='2'>Posted <%= (post.created_at.to_formatted_s(:long)) %> </td>
		</tr>
		</table>